* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fafdd0;
  -webkit-box-shadow: 0px 0px 20px 0px #98e7ff;
          box-shadow: 0px 0px 20px 0px #98e7ff;
}

header .logo {
  width: 40px;
  height: 40px;
  background: #98e7ff;
  border-radius: 100px;
  margin: 10px;
}

header .hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  position: relative;
  z-index: 9999;
}

header .hamburger-container .line1 {
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .hamburger-container .line1::before, header .hamburger-container .line1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .hamburger-container .line1::before {
  top: 15%;
}

header .hamburger-container .line1::after {
  bottom: 15%;
}

header .hamburger-container.activeBtn {
  z-index: 9999;
}

header .hamburger-container.activeBtn .line1 {
  background: transparent;
}

header .hamburger-container.activeBtn .line1::before {
  -webkit-transform: translateY(12.5px) rotate(45deg);
          transform: translateY(12.5px) rotate(45deg);
}

header .hamburger-container.activeBtn .line1::after {
  -webkit-transform: translateY(-12.5px) rotate(-45deg);
          transform: translateY(-12.5px) rotate(-45deg);
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  background: #fafdd0;
  inset: 0 0 0 40%;
  border-radius: 30px 0 0 30px;
  -webkit-box-shadow: inset 0px 0px 70px 20px #98e7ff;
          box-shadow: inset 0px 0px 70px 20px #98e7ff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav-box .nav-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 30%;
  margin: 0 20%;
}

.nav-box .nav-text-container a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.nav-box.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
}

.main-content article img {
  width: 60%;
}

.main-content article .underlinje {
  width: 50%;
  height: 1px;
  background: black;
}

.main-content article .textarea {
  width: 60%;
  margin: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 0;
}

.footer .footertext {
  width: 80%;
}
/*# sourceMappingURL=style.css.map */